.meta-box-tabs-nav {
    float: left;
    width: 210px;
    margin: 0;
}
.meta-box-tabs-nav li{
    margin: 0;
}
.meta-box-tabs-nav li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid transparent;
    color: #717171;
    font-weight: 600;
    font-size: 14px;
}
.meta-box-tabs-nav li.active a {
    border-right-color: #fff;
    margin-right: -1px;
}
.meta-box-tabs-nav li a:focus{
    outline: none;
    box-shadow: none;
}
.meta-box-tabs-content
{
    overflow: hidden;
    border-left: 1px solid #eee;
    padding: 30px;
    min-height: 200px;
}
.rwmb-field .rwmb-label {
    width: 100%;
    margin-bottom: 10px;
    color: #000000;
}
/*#digitalworld_page_option > .inside {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

input.metabox-toggle + label {
    background-color: #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    outline: 0;
    position: relative;
    width: 60px;
    -webkit-transition: .4s;
    transition: .4s;
}
input.metabox-toggle + label::before,
input.metabox-toggle + label::after {
    content: "";
    display: block;
    position: absolute;
}
input.metabox-toggle + label::after {
    background: #fff;
    left: 4px;
    top: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    width: 26px;
    height: 26px;
}
input.metabox-toggle:checked + label {
    background: #2196F3;
}
input.metabox-toggle:checked + label::after {
    background: #fff;
    border-color: #fff;
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(26px);
}
input.metabox-toggle {
    height: 24px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 44px;
}
.rwmb-field input[type="text"],
.rwmb-field input[type="number"],
.rwmb-field input[type="email"],
.rwmb-field select,
.rwmb-field textarea{
    padding: 6px 20px;
    border: 1px solid #ccc;
    box-shadow: none;
    line-height: normal;
    height: auto;
}
.rwmb-field .rwmb-select option{
    padding: 0;
}
.rwmb-field .rwmb-image-select{
    width: auto;
    height: auto;
    border-radius: 0;
    overflow: hidden;
}
.rwmb-field .rwmb-image-select img {
    float: left;
}
.rwmb-field input[type="range"]{
    padding: 0;
    margin: 0;
    border: none;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #2196F3;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 15px;
    background: #ccc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #2196F3;
}
input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 15px;
    background: #ccc;
    cursor: pointer;
    border: none;
    border-radius: 0;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2196F3;
}
input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    height: 20px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2196F3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2196F3;
}
.rwmb-input{
    position: relative;
}
.rwmb-input .rwmb-output{
    padding: 0;
    position: absolute;
    top: -21px;
    right: 0;
}

.rwmb-label ~ .rwmb-input{
    width: 100%!important;
}
.rwmb-field{
    width: 100%;
    float: left;
}
.rwmb-col-2{
    width: 50%;
}
.rwmb-col-3{
    width: 33.33333%;
}
.rwmb-col-4{
    width: 25%;
}